# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

Makefile
autom4te.cache/
config.log
config.status
config/
src/.deps/
src/Makefile
src/hsetroot
